@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

@import "variables.scss";


// ==== adaptive menu ====

.hidden-menu-wrapper {
    display: none;
}

.hidden-menu-list {
    display: block;
    position: fixed;
    padding: 50px 0px 24px 0px;
    text-align: center;
    width: 100%;
    background-color: #a09d9d;
    transition: left 0.9s;
    left: -100vh;
    z-index: 10;
}

.hidden-menu-link {
    font-family: Ubuntu;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    color: #d2caca;
    text-decoration: none;
    line-height: 1.7em;
    transition: left 0.5s;
}

.hidden-menu-list-ticker {
    display: none;
}

.hidden-menu-button {
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .3s;
    z-index: 11;
    width: 35px;
}

.hidden-menu-button span {
    display: block;
    height: 5px;
    background-color: #a17f23;
    margin: 5px 0 0;
    position: relative;
}

.hidden-menu-list-ticker:checked~.hidden-menu-button {
    right: 270px;
}

.hidden-menu-list-ticker:checked~.hidden-menu-list {
    left: 0;
}

.hidden-menu-list-ticker:checked~.hidden-menu-button .hidden-menu-first-line {
    transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-list-ticker:checked~.hidden-menu-button .hidden-menu-second-line {
    opacity: 0;
}

.hidden-menu-list-ticker:checked~.hidden-menu-button .hidden-menu-third-line {
    transform: rotate(-45deg);
    top: -10px;
}

// ==== /adaptive menu ====

// ==== /adaptive menu ====


// ==== header ====

.header {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/start.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #ebecee;
    position: relative;

    &__logo {
        position: absolute;
        left: 50px;
        top: 45px;
    }

    &__buy-button {
        @include text(Ubuntu, 13px, #333333, none, 700);
        text-transform: uppercase;
        position: absolute;
        top: 45px;
        right: 45px;
        background-color: #fff;
        padding: 17px 33px;
        border-radius: 30px;
        transition: .5s;

        &:hover {
            background-color: #4c4444;
            color: #fff;
        }
    }
}

.header__nav {
    padding-top: 60px;
    padding-right: 215px;
    min-height: 200px;

    &-list {
        display: flex;
        justify-content: flex-end;

        &-content {
            margin: 0 25px;
            @include text(Ubuntu, 16px, #333333, none, 500);

            &-link {
                color: #333333;
                transition: .5s;

                &:hover {
                    color: #cda63d;
                }

            }
        }
    }
}

.header__nav-list-dropdown {
    display: none;

    &-link {
        text-align: left;
        padding: 9px 0 1px;

        a {
            color: #333;
            transition: .5s;

            &:hover {
                color: #cda63d;
            }
        }
    }
}

.fa-angle-down {
    color: #c99f2b;
    padding-left: 5px;
}

.header-content {
    padding-left: 165px;
    min-height: 205px;
    max-width: 470px;
    @include flex(flex, column, center, center);

    &__title {
        @include text(Ubuntu, 44px, #333333, 1.5em, 300);
    }

    &__start-button {
        @include text(Ubuntu, 13px, #333333, none, 700);
        text-transform: uppercase;
        margin-top: 48px;
        background-color: #fff;
        padding: 17px 33px;
        border-radius: 30px;
        transition: .5s;

        &:hover {
            background-color: #4c4444;
            color: #fff;
        }
    }
}

// ==== popup
#modal {

    width: 300px;
    border-radius: 5px;
    background-color: rgba(#cfcbcb, .3);

    input {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        height: 40px;
        outline: none;
        padding: 0 10px;
        @include text(Ubuntu, 13px, #000, none, 400);
        border: none;
        background-color: #e0dcd7;
    }

    input[type="submit"] {
        background-color: #df942a;
        cursor: pointer;
        border: none;
        @include text(Ubuntu, 13px, #fff, none, 700);
        border-radius: 5px;
        text-transform: uppercase;

        &:focus {
            visibility: hidden;
        }
    }
}


// ==== /header ====

// ==== offers ====

.offers {
    max-width: 910px;
    margin: 65px auto 100px;

    &__title {
        @include text(Ubuntu, 25px, #141311, none, 400);
        text-align: center;
        letter-spacing: .5px;
        padding-bottom: 23px;
    }

    &__text {
        @include text(Ubuntu, 13px, #141311, 17.5px, 400);
        text-align: center;
        padding-bottom: 32px;
    }
}

.offers-content-wrapper {
    max-width: 910px;
    display: flex;
    justify-content: space-between;
}

.offers-content-box {
    max-width: 285px;
    overflow: hidden;

    &__image {
        display: block;
        max-width: 285px;
        min-height: 200px;
        transition: .5s;

        &:hover {
            transform: scale(1.09) translateY(-10px);
        }
    }

    &__title {
        @include text(Ubuntu, 17px, #141311, none, 400);
        padding: 27px 0 15px 25px;
    }

    &__text {
        @include text(Nunito, 12px, #141311, 1.2em, 300);
        padding: 0 25px;
    }
}

// ==== /offers ====

// ==== about ====

.about {
    width: 100%;
}

.adout-top-block {
    display: flex;
    width: 100%;
    min-height: 300px;
    justify-content: center;

    &__description {
        background-color: #f8f8f8;
        width: 33.5%;
    }

    &__image {
        background-image: url(../img/about1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 33.5%;
    }
}



.about-bottom-block {
    width: 100%;
    display: flex;

    &-left {
        width: 67%;

        &-top {
            width: 100%;
            min-height: 300px;
            background-color: #fff;
            display: flex;

            &__image {
                background-image: url(../img/about2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 50%;
            }

            &__description {
                width: 50%;
                height: 300px;
            }
        }

        &-awards {
            width: 100%;
            background-color: #f4f0eb;
            min-height: 300px;
            display: flex;

            &__description {
                width: 50%;
            }

            &__image {
                background-image: url(../img/award.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 50%;
            }
        }
    }

    &-right {
        width: 33%;
        min-height: 600px;
        background-image: url(../img/about3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__title {
            @include text(Ubuntu, 30px, #fff, none, 400);
            padding: 400px 0 40px 130px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                background-color: #fff;
                height: 3px;
                width: 35px;
                bottom: 20px;
            }
        }

        &__text {
            @include text(Nunito, 14px, #fff, 1.2em, 300);
            padding-left: 130px;
            width: 58%;
        }
    }
}

// ==== /about ====

// ==== projects ====

.projects {
    width: 100%;
    display: flex;
    margin-top: 140px;
    margin-bottom: 160px;

    &-left-block {
        width: 60%;
        background-image: url(../img/laptop.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        min-height: 475px;
    }

    &-right-block {
        width: 40%;

        &__title {
            @include text(Ubuntu, 36px, #000, none, 300);
            padding-bottom: 40px;
        }

        &__text {
            @include text(Ubuntu, 18px, #333333, 1.2em, 300);
            width: 45%;
            padding-bottom: 38px;
        }

        &-content {
            width: 75%;

            &-section {
                position: relative;
                width: 75%;

                &__image {
                    position: absolute;
                }

                &__title {
                    @include text(Ubuntu, 17px, #000, none, 500);
                    padding-left: 50px;
                    padding-bottom: 14px;
                }

                &__text {
                    @include text(Ubuntu, 13px, #333333, 18px, 300);
                    padding-left: 50px;
                    padding-bottom: 35px;
                }
            }

            &__btn {
                @include text(Ubuntu, 12px, #333333, none, 700);
                text-transform: uppercase;
                background-color: #e5e1e1;
                display: inline-block;
                border-radius: 25px;
                padding: 18px 65px;
                margin-top: 15px;
                transition: .5s;

                &:hover {
                    background-color: #333333;
                    color: #cfcbcb;
                }
            }
        }
    }
}

// ==== /projects ====

// ==== prices ====

.prices-wrapp {
    width: 100%;
    min-height: 820px;
    background-image: url(../img/backgr1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prices__title {
    @include text(Ubuntu, 36px, #fff, none, 300);
    text-align: center;
    padding-bottom: 105px;
    padding: 185px 0 100px 0;
}

.prices {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &-content {
        padding-bottom: 245px;
        // position: relative;
        text-align: center;

        &__cost {
            @include text(Lato, 60px, #c89d28, none, 300);
            position: relative;

            &::before {
                content: "$";
                font-size: 22px;
                position: absolute;
                top: 9px;
                left: 40px;
            }
        }

        &__cost-first {
            @include text(Lato, 60px, #c89d28, none, 300);
            position: relative;

            &::before {
                content: "$";
                font-size: 22px;
                position: absolute;
                top: 9px;
                left: 55px;
            }

        }

        &__title {
            @include text(Ubuntu, 17px, #fff, 16px, 400);
            padding-top: 20px;
            padding-bottom: 30px;
        }

        &__list {
            @include text(Ubuntu, 13px, #999999, 18px, 400);
            padding-bottom: 50px;
        }

        &__btn {
            width: 157px;
            display: block;
            text-transform: uppercase;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px 0;
            border-radius: 27px;
            @include text(Ubuntu, 13px, #333333, none, 700);
            transition: .5s;

            &:hover {
                background-color: #c89d28;
            }
        }
    }
}

// ==== /prices ====

// ==== news ====

.news {
    width: 100%;
    min-height: 810px;
    background-color: #e8e9ea;

    &__title {
        @include text(Ubuntu, 36px, #000, none, 400);
        text-align: center;
        padding: 100px 0 50px 0;
    }

    &__btn {
        width: 200px;
        display: block;
        text-transform: uppercase;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px 0;
        border-radius: 27px;
        @include text(Ubuntu, 13px, #333333, none, 700);
        text-align: center;
        transition: .5s;

        &:hover {
            background-color: #000;
            color: #cfcbcb;
        }
    }
}

.news-content {
    max-width: 900px;
    min-height: 450px;
    margin: 0 auto;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;

    &-left {
        display: block;
        max-width: 455px;
        min-height: 450px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__topic {
            background-color: #8d7431;
            display: inline-block;
            @include text(Ubuntu, 8px, #fff, none, 700);
            padding: 7px 10px;
            text-transform: uppercase;
            border-radius: 11px;
            margin: 8px 0 0 8px;
        }

        &__title {
            @include text(Ubuntu, 25px, #fff, 1.2em, 400);
            text-align: center;
            padding: 200px 45px 20px 45px;
        }

        &__text {
            @include text(Ubuntu, 9px, #c89d28, none, 700);
            text-transform: uppercase;
            letter-spacing: 1.2px;
            text-align: center;

            span {
                color: #a3a3a2;
            }
        }
    }

    &-right {
        max-width: 430px;
        min-height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-box {
            max-width: 202px;
            height: 208px;

            &__image {
                min-height: 153px;
                position: relative;
            }

            &__topic {
                background-color: #8d7431;
                display: inline-block;
                @include text(Ubuntu, 8px, #fff, none, 700);
                padding: 7px 10px;
                text-transform: uppercase;
                border-radius: 11px;
                position: absolute;
                margin: 8px 0 0 8px;
            }

            &__second-topic {
                background-color: #8d7431;
                display: inline-block;
                @include text(Ubuntu, 8px, #fff, none, 700);
                padding: 7px 10px;
                text-transform: uppercase;
                border-radius: 11px;
                position: absolute;
                top: 8px;
                left: 72px;
            }

            &__text {
                @include text(Ubuntu, 12px, #333333, 16.5px, 400);
                padding-top: 18px;
            }
        }
    }
}

// ==== /news ====

// ==== services ====

.services {
    width: 100%;
    background-color: #fafafa;

    &-wrapper {
        max-width: 908px;
        margin: 0 auto;
        padding-top: 155px;
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between;
    }
}

.services-left {
    width: 28%;

    &__title {
        @include text(Ubuntu, 23px, #000, none, 400);
    }

    &__text {
        @include text(Ubuntu, 12px, #000, 18px, 400);
        padding-top: 10px;

        span {
            font-weight: 500;
        }
    }
}

.services-right-wrapp {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.services-description-left,
.services-description-right {
    width: 46%;
}

.services-description {
    position: relative;

    &:not(:last-child) {
        padding-bottom: 40px;
    }

    &__image {
        position: absolute;
    }

    &__title {
        @include text(Ubuntu, 17px, #000, 18px, 500);
        padding-left: 60px;
    }

    &__text {
        @include text(Ubuntu, 10px, #000, 16.5px, 400);
        width: 73%;
        padding-left: 60px;
    }
}

// ==== /services ====

// ==== facts ====

.facts {
    width: 100%;
    min-height: 700px;
    background-image: url(../img/backgr1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-content {
        max-width: 775px;
        margin: 0 auto;

        &__title {
            @include text(Ubuntu, 36px, #fff, none, 400);
            text-align: center;
            padding-top: 130px;
            padding-bottom: 90px;
        }

        &__text {
            @include text(Ubuntu, 24px, #999999, 1.2em, 400);
            text-align: center;
            padding-top: 80px;
        }
    }
}

.counter {
    display: flex;
    justify-content: space-between;

    &-box {
        width: 20%;
        text-align: center;
    }
}

.counter-box__number-wrapper {
    display: flex;
    justify-content: center;
}

.counter-box__numbers,
.counter-box__numbers-descr {
    @include text(Lato, 60px, #8d7431, none, 300);
}

.counter-box__text-description {
    @include text(Ubuntu, 18px, #fff, none, 400);
    padding-top: 35px;
}

// ==== facts ====

// ==== companies ====

.companies {
    width: 100%;
    min-height: 625px;
}

.companies-slider__content {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

.companies-inner {
    min-height: 430px;
    padding: 105px 0;

    &__title {
        @include text(Ubuntu, 23px, #333333, none, 400);
        text-align: center;
        padding-bottom: 65px;
    }

    &__image-companies {
        display: flex;
        justify-content: space-between;
        padding-bottom: 110px;
    }

    &__text-description {
        @include text(Ubuntu, 17px, #333333, 20px, 400);
        text-align: center;
        padding-bottom: 35px;
    }

    &__text-name {
        @include text(Ubuntu, 12px, #333333, 18px, 500);
        text-transform: uppercase;
        width: 70%;
        margin: 0 auto;
    }

    &__text-swift {
        @include text(Ubuntu, 12px, #999999, 18px, 300);
        width: 70%;
        margin: 0 auto;
    }
}


.btn-next {
    position: absolute;
    background-image: url(../img/arrownext.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    right: 48%;
    bottom: 65px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.btn-prev {
    @extend .btn-next;
    background-image: url(../img/arrowprev.png);
    left: 48%;
    z-index: 2;
}

// ==== /companies ====

// ==== get-in-touch ====

.communication {
    width: 100%;
    min-height: 325px;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-content {
        max-width: 525px;
        margin: 0 auto;
        text-align: center;

        &__title {
            @include text(Ubuntu, 23px, #fff, none, 400);
            padding: 85px 0 20px 0;
        }

        &__text {
            @include text(Ubuntu, 16px, #cccccc, none, 400);
        }

        &__btn {
            @include text(Ubuntu, 11px, #333333, none, 700);
            display: inline-block;
            text-transform: uppercase;
            background-color: #fff;
            padding: 19px 55px;
            margin-top: 20px;
            border-radius: 24px;
            transition: .5s;

            &:hover {
                background-color: #857272;
                color: #cfcbcb;
            }
        }
    }
}

// ==== /get-in-touch ====

// ==== footer ====

.footer {
    width: 100%;
    background-color: #0d0d0d;

    &-content {
        max-width: 908px;
        margin: 0 auto;
        padding-top: 125px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #191919;
    }
}

.footer-content-left {
    width: 60%;

    &__title {
        @include text(Ubuntu, 14px, #fff, 15px, 400);
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding-bottom: 22px;
    }

    &__text {
        @include text(Ubuntu, 11px, #666666, 16px, 400);
        width: 69%;
        padding-bottom: 30px;
    }

    &__list {
        display: flex;

        li {
            padding-right: 40px;

            a {
                color: #666666;
                transition: .5s;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

}

.footer-content-right {
    width: 40%;
    display: flex;
    justify-content: space-between;

    &__col {

        &-title {
            @include text(Ubuntu, 14px, #fff, 15px, 400);
            text-transform: uppercase;
            letter-spacing: 1.2px;
            padding-bottom: 22px;
        }

        &-list {
            @include text(Ubuntu, 11px, #999999, 24px, 400);
            padding-bottom: 50px;

            a {
                color: #999999;
            }
        }
    }
}

.footer-wrapper {
    max-width: 908px;
    padding: 45px 0 95px 20px;
    margin: 0 auto;
}

.footer__text {
    @include text(Ubuntu, 9px, #999999, 18px, 500);
    text-transform: uppercase;
    letter-spacing: 1.2px;

    a {
        color: #8d7431;
    }
}

// ==== /footer ====

.btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: #929393;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10%;
    transition: .5s;
    opacity: .5;

    &:hover {
        background-color: #5777a2;
    }
}