@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

@import "variables.scss";

// ==== header ====

.header {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/start.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #ebecee;
    position: relative;

    &__logo {
        position: absolute;
        left: 50px;
        top: 45px;
    }

    &__buy-button {
        @include text(Ubuntu, 13px, #333333, none, 700);
        text-transform: uppercase;
        position: absolute;
        top: 45px;
        right: 45px;
        background-color: #fff;
        padding: 17px 33px;
        border-radius: 30px;
        transition: .5s;

        &:hover {
            background-color: #4c4444;
            color: #fff;
        }
    }
}

.header__nav {
    padding-top: 60px;
    padding-right: 215px;
    min-height: 200px;

    &-list {
        display: flex;
        justify-content: flex-end;

        &-content {
            margin: 0 25px;
            @include text(Ubuntu, 16px, #333333, none, 500);

            &-link {
                color: #333333;
                transition: .5s;

                &:hover {
                    color: #cda63d;
                }

            }
        }
    }
}

.header__nav-list-dropdown {
    display: none;

    &-link {
        text-align: center;
        padding: 5px 0;

        a {
            color: #333;
            transition: .5s;

            &:hover {
                color: #cda63d;
            }
        }
    }
}

.fa-angle-down {
    color: #c99f2b;
    padding-left: 5px;
}

.header-content {
    padding-left: 165px;
    min-height: 205px;
    max-width: 470px;
    @include flex(flex, column, center, center);

    &__title {
        @include text(Ubuntu, 44px, #333333, none, 300);
    }

    &__start-button {
        @include text(Ubuntu, 13px, #333333, none, 700);
        text-transform: uppercase;
        margin-top: 48px;
        background-color: #fff;
        padding: 17px 33px;
        border-radius: 30px;
        transition: .5s;

        &:hover {
            background-color: #4c4444;
            color: #fff;
        }
    }
}


// ==== /header ====