@media (max-width: 1400px) {
    .projects-right-block {
        margin-left: 40px;
    }
}

@media (max-width: 1140px) {

    .header-content {
        padding-left: 40px;
    }

    .header-content__title {
        width: 60%;
    }

    .about-bottom-block-right__title {
        padding: 370px 0 40px 65px;
    }

    .about-bottom-block-right__text {
        padding-left: 65px;
    }

    .projects {
        margin-top: 90px;
        margin-bottom: 100px;
    }

    .projects-left-block {
        margin-right: 65px;
    }
}

@media (max-width: 1000px) {
    .about-description__title {
        padding: 65px 0 30px 38px;
    }

    .about-description__text {
        padding-left: 38px;
    }

    .projects-right-block-content {
        width: 100%;
    }

    .prices-wrapp {
        min-height: 610px;
    }

    .prices {
        padding: 0 30px;
    }

    .prices__title {
        padding: 100px 0 70px;
    }

    .prices-content {
        padding-bottom: 70px;
    }

    .footer-content {
        padding-top: 90px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-content-left {
        width: auto;
        margin: 0 0 25px 20px;
    }

    .footer-content-right {
        padding-left: 20px;
    }
}

@media (max-width: 920px) {
    .offers-content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .offers__text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .offers-content-box__text {
        padding-bottom: 20px;
    }

    .offers {
        margin-bottom: 30px;
    }

    .news {
        min-height: 1300px;
    }

    .news-content {
        flex-direction: column;
        align-items: center;
    }

    .news-content-left {
        margin-bottom: 25px;
    }

    .services-wrapper {
        padding-top: 65px;
        padding-bottom: 60px;
        flex-direction: column;
        align-items: center;
    }

    .services-left__text {
        padding-bottom: 35px;
    }

    .services-left {
        width: 90%;
        text-align: center;
    }

    .facts-content__title {
        padding-top: 80px;
        padding-bottom: 55px;
    }

    .facts {
        min-height: 525px;
    }

    .companies-inner {
        padding: 65px 20px;
    }

    .companies {
        min-height: 570px;
    }

    .btn-next {
        right: 45%;
    }

    .btn-prev {
        left: 45%;
    }

    .communication-content__text {
        padding: 20px 10px;
    }

    .footer-content-left,
    .footer-content-right,
    .footer__text {
        margin-left: 50px;
    }

}

@media (max-width: 840px) {

    .header-content {
        align-items: flex-start;
    }
}

@media (max-width: 760px) {

    .hidden-menu-wrapper {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__nav-list-content-link {
        color: #d2caca;

        &:hover {
            color: #d2caca;
        }
    }

    .hidden-menu-link {
        a {
            color: #fff;
        }
    }

    .header-content__title {
        padding-top: 400px;
    }

    .projects {
        flex-direction: column;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .projects-left-block {
        width: 90%;
    }

    .projects-right-block {
        width: 90%;
        margin: 0 auto;
    }

    .projects-right-block__title {
        text-align: center;
    }

    .projects-right-block__text {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .prices-content__list {
        width: 70%;
        margin: 0 auto;
    }

    .counter {
        padding: 0 35px;
    }

    .facts-content__text {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 650px) {

    .header {
        background-position: left;
    }

    .about-description__text {
        padding-right: 55px;
    }

    .adout-top-block {
        flex-direction: column;
    }

    .adout-top-block__image,
    .adout-top-block__description,
    .about-bottom-block-left-top__image {
        min-height: 200px;
        width: 100%;
    }

    .about-bottom-block {
        flex-direction: column;
    }

    .about-bottom-block-left {
        width: 100%;
    }

    .about-bottom-block-left-top {
        flex-direction: column;
    }

    .about-bottom-block-left-top__description,
    .about-bottom-block-left-awards__description {
        width: 100%;
        height: 200px;
    }

    .about-bottom-block-left-awards__image {
        display: none;
    }

    .about-bottom-block-right {
        width: 100%;
    }

    .prices {
        flex-direction: column;
    }

    .prices-content__cost-first {
        width: 200px;
        margin: 0 auto;
    }

    .prices-content__cost {
        width: 205px;
        margin: 0 auto;
    }

    .services-right-wrapp {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .services-description-left,
    .services-description-right {
        width: 90%;
        padding: 10px;
    }

    .services-wrapper {
        padding-top: 35px;
        padding-bottom: 30px;
    }

    .counter {
        flex-direction: column;
        align-items: center;
    }

    .counter-box {
        width: 80%;
    }

    .counter-box__text-description {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .facts-content__title {
        padding-top: 60px;
        padding-bottom: 35px;
    }

    .facts-content__text {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .companies-inner__image-companies {
        padding-bottom: 65px;
    }

    .footer-content-left__text {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-content-left__title {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-content-left__list {
        justify-content: center;
    }

    .footer-content-right {
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
    }

    .footer__text {
        text-align: center;
        margin-left: 0;
    }

    .footer-content {
        padding-top: 50px;
    }

    .footer-wrapper {
        padding: 30px 0 50px 20px;
    }
}

@media (max-width: 500px) {
    .projects {
        margin-top: 5px;
        margin-bottom: 40px;
    }

    .news-content {
        margin: 0 30px;
    }

    .companies-inner__image-companies {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slick-slide img {
        padding: 10px;
    }

    .companies-inner__text-swift {
        margin-bottom: 40px;
    }
}

@media (max-width: 460px) {

    .header-content__title {
        padding-top: 170px;
    }

    .news {
        min-height: 1660px;
    }

    .news-content-right {
        justify-content: center;
    }

    .footer-content-left {
        margin-left: 0;
    }
}

@media (max-width: 420px) {

    .header {
        min-height: 80vh;
    }

    .projects-left-block {
        display: none;
    }

    .projects-right-block {
        margin: 30px auto;
    }

    .news-content-left__title {
        font-size: 20px;
    }

    .btn-next {
        right: 42%;
    }

    .btn-prev {
        left: 42%;
    }
}

@media (max-width: 320px) {

    .header {
        min-height: 95vh;
    }

    .header-content__title {
        font-size: 35px;
    }

    .header__buy-button {
        top: 15px;
        right: 15px;
    }

    .header__logo {
        left: 20px;
        top: 55px;
    }

    .prices__title {
        font-size: 30px;
    }
}