@mixin text ($fontfamily, $fontsize, $color, $lineheight, $fontweight) {
    font-family: $fontfamily;
    font-size: $fontsize;
    color: $color;
    line-height: $lineheight;
    font-weight: $fontweight;
}

@mixin flex ($displayflex, $flexdirection, $justify, $alignit) {
    display: $displayflex;
    flex-direction: $flexdirection;
    justify-content: $justify;
    align-items: $alignit;
}


a {
    text-decoration: none;
}

.about-description__title {
    @include text(Ubuntu, 30px, #141311, none, 400);
    padding: 110px 0 30px 90px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        background-color: #000;
        height: 3px;
        width: 35px;
        bottom: 20px;
    }
}

.about-description__text {
    @include text(Nunito, 14px, #141311, 1.2em, 300);
    padding: 0 100px 0 90px;
}